body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8e8e90;
    color: #777070;
}

.site-nav {
    background-color: #bd8c7d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin: 0;
    border-bottom: 2px solid #d1bfa7;
}

.nav-header {
    display: flex;
    align-items: center;
}


.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.nav-item {
    margin: 0 1rem;
    position: relative;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link:hover {
    background-color: #575757;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    overflow-x: hidden;
}

.dropdown-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.nav-item:hover .dropdown-content {
    display: grid;
}

.box {
    background-color: #bd8c7d;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    color: transparent; /* Hide text */
}

.site-main {
    padding: 2rem;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    background-color: beige;
    width: 60%;
    height: 200vh;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    top: -50px; /* Move it up into the nav bar */
}

.content-section {
    margin-bottom: 2rem;
    position: relative;
}

.sub-header {
    font-size: 90%;
}
.site-footer {
    background-color: #bd8c7d;
    color: white;
    text-align: center;
    padding: 1em 0em 100px 0em;
    position: flex;
    height: 100%;
    bottom: 100%;
    z-index: -1;
}